.Dashboard {
  height: 100%;
  width: 100%;
}
.Dashboard-nav {
  box-shadow: 0px 2px 6px rgba(193, 199, 208, 0.4);
  height: 4rem;
  width: 100%;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}
.Dashboard-nav .Dashboard-nav-menu {
  display: flex;
  height: fit-content;
  margin: auto 0;
  gap: 1rem;
  align-items: center;
}
.Dashboard-nav .Dashboard-nav-menu .hamburger {
  width: 3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  height: 3rem;
}
.Dashboard-nav .Dashboard-nav-menu .hamburger .line {
  width: 1.6rem;
  height: 0.3rem;
  background-color: black;
}
.logo {
  color: #0052cc;
  padding-right: 1rem;
  border-right: 1px solid #c1c7d0;
}
.Dashboard-nav .Dashboard-nav-avaterWrapper {
  display: flex;
  height: fit-content;
  margin: auto 0;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Dashboard-nav {
    padding: 0 1rem;
  }
  .logo,
  .text {
    font-size: 12px;
    padding-right: 0.5rem;
  }
}
@media screen and (max-width: 280px) {
  * {
    font-size: 10px;
  }
}
