main.signIn {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main.signIn > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
}
main.signIn > form > main {
  width: 480px;
  height: 421px;
  gap: 2rem;
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.31);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
main.signIn > form > main > div:first-of-type {
  /* border: 1px solid red; */
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main.signIn > form > main > div:nth-of-type(3) {
  width: 80%;
  /* border: 1px solid red; */
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
main.signIn > form > main > div:nth-of-type() > div {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  height: fit-content;
  display: flex;

  gap: 1rem;
}
main.signIn > form > main > div:nth-of-type(3) > div {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main.signIn > form > main > div:nth-of-type(2) {
  height: fit-content;
  display: flex;

  gap: 2rem;
}
main.signIn > form > main > div:nth-of-type(2) > div > p {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #7a869a;
}

main.signIn > form > main > div:nth-of-type(3) > div > input,
main.signIn > form > main > div:nth-of-type(3) > div > div {
  height: 2rem;
  width: 100%;
}
main.signIn > form > main > div:nth-of-type(3) > div > input {
  background: #ffffff;
  color: #dfe1e6;
  border: 1px solid #dfe1e6;
  cursor: pointer;
  border-radius: 4px;
  padding-left: 0.5rem;
  outline: 0;
}
main.signIn > form > main > div:nth-of-type(3) > div > input:focus {
  border: 1px solid #0052cc;
  color: #58595d;
}
main.signIn > form > main > div:nth-of-type(3) > div > div {
  background: #f4f5f7;
  mix-blend-mode: normal;
  border-radius: 4px;
}
main.signIn > form > main > div:nth-of-type(3) > img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 60%;
  top: 61.2%;
  cursor: pointer;
}
main.signIn > form > main > div:nth-of-type(3) > span {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 60%;
  top: 55.2%;
  cursor: pointer;
  color: rgb(5, 189, 5);
}
main.signIn > form > main > div:nth-of-type(4) {
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main.signIn > form > main > div:nth-of-type(4) > div {
  width: 100%;
  height: 0.1rem;
  background: #dfe1e6;
}
main.signIn > form > main > div:nth-of-type(4) > a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #0052cc;
}
main.signIn > img {
  width: 100%;
  position: absolute;
  top: 48%;
}

@media screen and (max-width: 768px) {
  main.signIn > img {
    width: 100%;
    position: absolute;
    top: 100%;
  }
  main.signIn > form > main > div:nth-of-type(3) > span {
    left: 82%;
    top: 55.2%;
  }
  main.signIn > form > main > div:nth-of-type(3) > img {
    left: 70%;
    top: 62.2%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1300px) {
  main.signIn > img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  main.signIn > form > main > div:nth-of-type(3) > span {
    left: 72%;
    top: 55.2%;
  }
  main.signIn > form > main > div:nth-of-type(3) > img {
    left: 70%;
    top: 62.2%;
  }
}
@media screen and (max-width: 483px) {
  main.signIn > form > main {
    width: 100% !important;
  }
  .signIn > form > header > img {
    width: 15rem;
  }
  main.signIn > form > main > div:nth-of-type(3) > span {
    left: 82%;
    top: 55.2%;
  }
  main.signIn > form > main > div:nth-of-type(3) > img {
    left: 80%;
    top: 61.2%;
  }
}
